#main{
    width: 100%;
    height: calc(100vh - 132px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#container{
    height: 500px;
    width: 80%;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#sectionCards{
    height: 50%;
    width: 100%;
    border-radius: 1px solid black;
    display: flex;
}

#sectionForm{
    height: 50%;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    height: 200px;
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.imageSection{
    height: 60%;
    width: 130px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.infoSection{
    height: 40%;
    width: 130px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 5px 5px;
}

p{
    margin: 0 10px 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 100px;
    width: 100px;
}

button{
    height: 30px;
    width: 70px;
}